<div class="container mt-3" style="max-width:700px;">

  <div class="card">
    <div class="card-body p-3">

      <h3 class="mb-4 fw-semibold text-center">
        Contact
      </h3>

      <p class="text-secondary">
      Reply with your website URL, description of the work needed,
      timeline, and budget range.
    </p>

      <form id="contactForm">

        <div class="mb-3">
          <label class="form-label">Name</label>
          <input class="form-control" name="name" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" name="email" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Company (optional)</label>
          <input class="form-control" name="company">
        </div>

        <div class="mb-4">
          <label class="form-label">Project Details</label>
          <textarea class="form-control" rows="5" name="message" required></textarea>
        </div>

        <div class="d-grid">
          <button class="btn btn-primary">
            Send Request
          </button>
        </div>

        <div id="formStatus" class="text-center mt-3 small"></div>

      </form>

    </div>
  </div>
</div>



<script>
const form = document.getElementById('contactForm');
const status = document.getElementById('formStatus');

form.addEventListener('submit', async e => {
  e.preventDefault();

  const data = Object.fromEntries(new FormData(form));

  status.innerText = "Sending...";

  const res = await fetch("https://iz6lue2sgrqksxoemuzvkygrrq0josfk.lambda-url.us-west-1.on.aws/", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify(data)
  });

  if(res.ok){
    form.reset();
    status.innerText = "Message sent successfully.";
  } else {
    status.innerText = "Something went wrong. Please try again.";
  }
});
</script>
