<section class="container" style="max-width:1200px;">
  <div class="text-center mb-4">
   <h3 class="fw-semibold mb-4 py-2">Select Projects</h3>
  </div>

  <div class="row g-3">
    {% for p in site.data.projects %}
    <div class="col-12 col-md-6 mb-4">

      <div class="card h-100 project-card position-relative">
        <a href="{{ site.baseurl }}{{ p.url }}" class="stretched-link"></a>

        <div class="card-body p-3">

          <!-- Header -->
          <div class="d-flex justify-content-between align-items-start mb-4">
            <div>
              <h4 class="mb-1">
                {{ p.name }}
              </h4>
              {% if p.tagline %}
              <p class="text-secondary small mb-0">
                {{ p.tagline }}
              </p>
              {% endif %}
            </div>
           
          </div>

          <!-- Grid -->
          <div class="row g-3">

            <!-- Image / Viewport -->
            <div class="col-12 px-2">
              <div class="ratio ratio-16x9 project-viewport">
                <a href="{{ site.baseurl }}{{ p.url }}" class="stretched-link">
                    <div class="project-image"
                        style="background-image: url('{{ site.baseurl }}{{ p.card_image }}');">
                    </div>
                </a>
              </div>
            </div>

            <!-- Content -->
            <div class="col-12 d-flex flex-column">
              <div class="row g-2 small">

                <p class="text-uppercase small mb-1 text-secondary">
                  {{ p.domain }}
                </p>

                <p class="mb-3">
                  {{ p.summary }}
                </p>

                <!-- Capabilities -->
                {% if p.capabilities %}
                <div class="col-12 col-md-6">
                  <div class="fw-semibold text-light mb-2">Capabilities</div>
                  <ul class="text-secondary mb-2">
                    {% for c in p.capabilities limit:3 %}
                    <li class="mb-1">{{ c.title }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}

                <!-- Users -->
                {% if p.users %}
                <div class="col-12 col-md-6">
                <div class="fw-semibold text-light mb-2">Users</div>
                <ul class="text-secondary mb-2">
                    {% for u in p.users limit:3 %}
                    <li class="mb-1">
                        {% if u.title %}
                        {{ u.title }}
                        {% else %}
                        {{ u }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                </div>
                {% endif %}


              </div>
            </div>

             <span class="btn btn-primary btn-sm">
              View Detail →
            </span>

          </div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</section>
